body {
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-left: 50px;
    padding-right: 50px;
}

.hero {
    padding-top: 50px;
    text-align: center;
    height: 150px;
}

.personal-footer {
    color: yellow;
    font-weight: lighter;
    font-style: italic;
}

.card {
    width: 80%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.register-form {
    position: absolute;
    top: 30%;
    left: 28%;
    width: 800px;
    height: 600px;
    font-weight: 800;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
}

.register-form label {
    color: black;
    font-weight: normal;
    padding: 12px;
}

.register-form input {
    padding: 10px;
}

.log-in-form label {
    text-align: left;
}

.addoffer-form {
    position: absolute;
    top: 10%;
    left: 28%;
    width: 800px;
    height: 800px;
    font-weight: 800;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
}

.addoffer-form label {
    color: black;
    font-weight: normal;
    padding: 12px;
}

.nice-pagination nav {
    width: 20px;
    padding: 50px;
}

.my-reservations-box button {
    background-color: firebrick;
}

.search-tab  {
    position: relative;
    left: 39%;

}

.search-tab button {
    color: yellow;
}
