body {
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-left: 50px;
    padding-right: 50px;
}

.hero {
    padding-top: 50px;
    text-align: center;
    height: 150px;
}

.card {
    width: 80%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*.register-form {*/
/*    position: absolute;*/
/*    top: 42%;*/
/*    left: 35%;*/
/*    width: 400px;*/
/*    font-weight: 800;*/
/*    background: white;*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*}*/

.register-form {
    top: 25%;
    left: 35%;
}

.log-in-form label {
    text-align: left;
}

