<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <div class="log-in">
      <h1>Log in</h1>
        <form th:action="@{/users/login}" th:method="post" th:object="${userLoginDTO}">
          <label for="uname">Username:</label><br />
          <input type="text" id="uname" name="username" /><br />
          <label for="pass">Password:</label><br />
          <input type="text" id="pass" name="password" /><br />
        </form>
    
      <div class="register-button">
        <button type="button">Log in</button>
      </div>
    </div>
  </div>
    </main>
    <footer></footer>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
