<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::nav"></header>
<main role="main" class="bg-secondary">
    <div class="jumbotron">
        <div class="container text-light">
            <h1 class="display-3">
                <strong
                        class="bg-blur rounded border-left border-white pl-3 border-bottom"
                >Add offer</strong
                >
            </h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form
                    th:action="@{/offers/add}"
                    th:method="post"
                    th:object="${addOfferDTO}"
                    class="text-center text-light">
                <div class="form-group row">
                    <label for="roomType" class="col-sm-2 col-form-label">Room Type</label>
                    <div class="col-sm-10">
                        <select
                                th:field="*{roomType}"
                                th:errorclass="is-invalid"
                                id="roomType"
                                name="roomType"
                                class="custom-select"
                                aria-describedby="categoryHelpInline">
                            <option value="" selected>Room Type</option>
                            <option
                                    th:each="r : ${T(com.example.bookify.model.enums.BedroomTypeEnum).values()}"
                                    th:value="${r}"
                                    th:text="${r}">
                                Single
                            </option>
                        </select>
                        <small
                                id="roomTypeHelpInline"
                                class="invalid-feedback text-light rounded">
                            You must select a room type.
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="cityCountry" class="col-sm-2 col-form-label">City, Country</label>
                    <div class="col-sm-10">
                        <input
                                th:field="*{cityCountry}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control"
                                id="cityCountry"
                                aria-describedby="cityCountryHelpInline"
                                placeholder="cityCountry"/>
                        <small
                                id="cityCountryHelpInline"
                                class="invalid-feedback text-light rounded">
                            You must specify the location.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input
                                th:field="*{name}"
                                type="text"
                                class="form-control"
                                id="name"
                                aria-describedby="nameHelpInline"
                                placeholder="name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input
                                th:field="*{address}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control"
                                id="address"
                                aria-describedby="addressHelpInline"
                                placeholder="address"/>
                        <small
                                id="lastNameHelpInline"
                                class="invalid-feedback text-light rounded">
                            You must enter an address.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="availableUntil" class="col-sm-2 col-form-label">Available Until</label>
                    <div class="col-sm-10">
                        <input th:field="*{availableUntil}" th:errorclass="is-invalid" type="datetime-local"
                               class="form-control" id="availableUntil"
                               aria-describedby="availableUntilHelpInline">
                        <small id="orderTimeHelpInline" class="invalid-feedback text-light rounded">
                            Availability must be present or future.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pricePerNight" class="col-sm-2 col-form-label">Price Per night</label>
                    <div class="col-sm-10">
                        <input
                                th:field="*{pricePerNight}"
                                th:errorclass="is-invalid"
                                type="number"
                                class="form-control"
                                id="pricePerNight"
                                aria-describedby="pricePerNightHelpInline"
                                placeholder="pricePerNight"/>
                        <small
                                id="passwordHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Price must be positive.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="imageUrl" class="col-sm-2 col-form-label">Image URL</label>
                    <div class="col-sm-10">
                        <input
                                th:field="*{imageUrl}"
                                th:errorclass="is-invalid"
                                type="password"
                                class="form-control"
                                id="imageUrl"
                                aria-describedby="imageUrlHelpInline"
                                placeholder="imageUrl"/>
                        <small
                                id="confirmPasswordHelpInline"
                                class="invalid-feedback text-light rounded">
                            You must enter an Image URL.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-info w-50">Submit Offer</button>
            </form>
            <hr class="bg-light"/>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
