<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Register</title>
</head>
<body>
<main>
    <div class="register-form">
        <h1>Register</h1>
                                <!--todo error messages-->
        <form>
            <label for="uname">Username:</label><br/>
            <input type="text" id="uname" name="username"/><br/>

            <label for="fname">First name:</label><br/>
            <input type="text" id="fname" name="firstName"/><br/>

            <label for="lname">Last name:</label><br/>
            <input type="text" id="lname" name="lastName"/><br/>

            <label for="age">Age:</label><br/>
            <input type="number" id="age" name="age"/><br/>

            <label for="email">Email:</label><br/>
            <input type="text" id="email" name="email"/><br/>

            <label for="pass">Password:</label><br/>
            <input type="text" id="pass" name="password"/><br/>

            <label for="confirmpass">Confirm Password:</label><br/>
            <input type="text" id="confirmpass" name="confirmpass"/><br/>
        </form>
        <div class="register-button">
            <button type="button">Register</button>
        </div>
    </div>
    </div>
</main>
<footer></footer>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
